@model IEnumerable<MagicStore.Models.OwnerInventory>

@{
    ViewData["Title"] = "Magic Store";
}

<h2>Owner Inventory</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockLevel)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a>
                    @{ 
                        if (User.IsInRole(MagicStore.Data.Constants.OwnerRole))
                        {
                             <a asp-action="Reset" asp-route-id="@item.ProductID">   Reset Inventory</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="" asp-controller="Owner" asp-action="Index">Go back</a></p>
